.container{
    height: 100vh;
    width: auto;
    background-color: #212121;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
#results{
    margin: 1px;
    padding: 0.5px;
}
